.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.number-fields input {
    width: 1cm;
    text-align: center;
}

.number-fields-input {
    margin: 5px;
}

body {
    background-color: #2F363F;
}

h1 {
    color: white;
}

h2 {
    color: honeydew;
}

.form-control {
    color: lightcyan;
    display: inline;
    background-color: #2F363F;
}
