.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.number-fields input {
    width: 1cm;
    text-align: center;
}

.number-fields-input {
    margin: 5px;
}

body {
    background-color: #2F363F;
}

h1 {
    color: white;
}

h2 {
    color: honeydew;
}

.form-control {
    color: lightcyan;
    display: inline;
    background-color: #2F363F;
}

.hidden {
    display: none;
}

#number-fields {
    padding-right: 5vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.input_group {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding-right: 5vh;
}

#number-fields-input-num-start {
    margin-right: 100%;
}