.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.number-fields input {
    width: 1cm;
    text-align: center;
}

.number-fields-input {
    margin: 5px;
}

body {
    background-color: #2F363F;
}